<!-- 
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-2.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  items: [

  ],
  href: "/prototype-2/version-2-home",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
          <main class="nhsuk-main-wrapper {{ mainClasses }} nhsuk-main-home " id="main-content" role="main">



<section>
<div class="nhsuk-width-container nhsuk-u-margin-top-8">
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Get involved</h1>
            <p class="nhsuk-body-l ">We want to hear from you.  </p>

<p>If you work in tech in the NHS, tell us what your user needs are and how things need to change. We’re keen to hear from you - and from healthtech innovators - and to showcase and build on the work of people building great tools and services.</p>

<h2>Contact us</h2>
        <ul>
            <li>Twitter: <a href="https://twitter.com/NHSX">follow us at @NHSX</a></li>
            <li>Email: <a href="">nhsx@nhs.net</a></li>
         </ul> 




  </div>
  <div class="nhsuk-grid-column-one-third">

  </div>
</div>
</div>



</section>



                    















        <div class="nhsuk-width-container">


        <div class="nhsuk-grid-row">

        </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    </div>
  </div>
</section>
  </main>

  
  </div>
{% endblock %}
