<!-- 
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-2-v3.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  items: [

  ],
  href: "/prototype-2/version-3",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
          <main class="nhsuk-main-wrapper {{ mainClasses }} nhsuk-main-home " id="main-content" role="main">



<section>
<div class="nhsuk-width-container nhsuk-u-margin-top-8">
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">Who we are</h1>
            <p class="nhsuk-body-l ">NHSX will bring together teams from the Department of Health and Social Care, NHS England and NHS Improvement.</p>

            <p>Responsibility for technology, digital and data policy is currently split across lots of organisations and teams. From 1 July, we will bring together teams from different organisations into one unit to drive digital transformation and lead policy, implementation and change.</p>
            <p>We are a diverse team with a range of skills and expertise, including clinicians, technologists, policy experts, developers, data scientists and project managers.</p>
            <p>We report directly to the Secretary of State and the Chief Executives of NHS England and NHS Improvement. We will be funded through existing budgets, transfers of staff and savings from NHS Digital, which is currently restructuring.</p>

         <h2>Interim leadership team</h2>
         <p>The interim leadership team of NHSX are: Simon Eccles, Will Smart, Tara Donnelly and Geraint Lewis from NHS England and Katie Farrington, Tim Donohoe, Lorraine Jackson, Hannah Brown, Jen Coe and Iain O’Neil from DHSC.</p>  

         <h2>Teams joining NHSX</h2>
          <p>[Caroline to provide info]</p>

        <p class="nhsuk-u-margin-top-8"><a href="/prototype-2/version-3/what-we-do">Find out what we do</a></p>


  </div>
  <div class="nhsuk-grid-column-one-third">

  </div>
</div>
</div>



</section>



                    















        <div class="nhsuk-width-container">


        <div class="nhsuk-grid-row">

        </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    </div>
  </div>
</section>
  </main>

  
  </div>
{% endblock %}
