// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

.nhsuk-main-home {
  padding-top: 0px;
}

.nhsuk-homepage .nhsuk-list-links--two-columns {
  column-count: 2;
  column-gap: 32px;
}

.nhsuk-list-signage {
  list-style: none;
  padding-left: 0;
}

.nhsuk-list-signage li {
  display: inline-block;
  margin: 2px 0px;
  width: 100%;
}

.nhsuk-list-signage li a {
  background: #005EB8;
  color: #FFFFFF;
  display: block;
  padding: 12px 24px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.nhsuk-list-signage li a .nhsuk-icon {
  fill: #FFFFFF;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 24px;
}


// Signage link 2 columns
@include mq($from: desktop) {
  .nhsuk-list-links--two-columns, .nhsuk-list-signage--two-columns {
    column-count: 2;
    column-gap: 16px;
  }
}

// Footer copyright

.ogl-text {
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.71429;
  color: #425563;
  margin-bottom: 0;
  padding-bottom: 24px;
}

.ogl-footer {
  background-color: #d8dde0;
}

.nhsuk-table-responsive {
  margin-bottom: 40px;
  margin-top: 40px;
  display: block;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: auto;
  width: 100%;
}

.nhsuk-table-responsive .nhsuk-table {
  margin: 0;
}

// NHSX theme

.nhsx-header--blue,
.nhsx-header__navigation--blue {
  background-color: #003087;
}

.nhsx-header--blue .nhsuk-icon__close {
  fill: #fff;
}

.nhsx-header--blue .nhsuk-header__navigation-title {
  color: #fff;
}

.nhsx-header--blue .nhsuk-header__navigation-link {
  color: #fff;
}

.nhsx-header--blue .nhsuk-logo,
.nhsx-header--blue .nhsuk-header__link {
  width: auto;
}
.app-u-border-top {
  border-top: 2px solid #005eb8;
  margin-top: 8px;
}

.app-u-border-top h3 {
  margin-bottom: 16px;
  margin-top: 16px;
}

.app-u-border-top ul {
  list-style: none;
  padding-left: 0;
}


.nhsuk-header__navigation-link:active {
    background-color: #212b32;
    color: #f0f4f5;
}


.nhsuk-header__navigation-link:hover {
  background-color: #212b32;
}