// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////
@mixin nhsuk-width-container-fluid {
    margin: 0 $nhsuk-gutter-half;
    max-width: 100%; /* [5] */
  
    @include govuk-media-query($from: desktop) {
      margin: 0 $nhsuk-gutter; /* [3] */
    }
  }
  .nhsuk-width-container-fluid {
    @include nhsuk-width-container-fluid;
  }


  .nhsuk-main-home {

    padding-top:0px;

  }



  .nhsuk-homepage .nhsuk-list-links--two-columns {
    column-count: 2;
    column-gap: 32px;
}

.nhsuk-list-signage {
  list-style: none;
  padding-left: 0;
}

.nhsuk-list-signage li {
  display: inline-block;
  margin: 2px 0px;
  width: 100%;
}

.nhsuk-list-signage li a {
  background: #005EB8;
  color: #FFFFFF;
  display: block;
  padding: 12px 24px;
  position: relative;
  text-decoration: none;
  width: 100%;
}


.nhsuk-list-signage li a .nhsuk-icon {
  fill: #FFFFFF;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 24px;
}



// Signage link 2 columns
@include mq($from: desktop) {
  .nhsuk-list-links--two-columns, .nhsuk-list-signage--two-columns {
      column-count: 2;
      column-gap: 16px;
  }
}

.ogl-text {
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.71429;
  color: #425563;
  margin-bottom: 0;
  padding-bottom: 24px;
}

.ogl-footer {
  background-color: #d8dde0;
}


.nhsuk-table-responsive {
  margin-bottom: 40px;
  margin-top: 40px;
  display: block;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: auto;
  width: 100%;
}

.nhsuk-table-responsive .nhsuk-table {
  margin: 0;
}