<!-- 
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-3.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
          <main class="nhsuk-main-wrapper {{ mainClasses }} nhsuk-main-home nhsuk-u-margin-bottom-0" id="main-content" role="main">

                <section class="nhsuk-hero">
                <div class="nhsuk-width-container nhsuk-hero--border">
                    <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <div class="nhsuk-hero__wrapper">
                        <h1 class="nhsuk-u-margin-bottom-3">We’re here to improve patient care and health outcomes</h1>
                        <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">NHSX is a new joint unit that will drive digital transformation in health and social care.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </section>

<section >
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-6 nhsuk-u-margin-bottom-0">
  <div class="nhsuk-grid-column-two-thirds ">
        <h2>Background </h2>
  </div>      
</div>
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-0">
  <div class="nhsuk-grid-column-two-thirds ">
  
        <p>The digital transformation of the NHS is the most important change we will make to healthcare for the next decade. But the responsibility for it is currently split between numerous organisations and teams. </p>
        <p>We need a transformation in the way that technology is led in the NHS. NHSX brings together a new joint unit in the Department of Health and Social Care and NHS England to drive digital transformation and lead policy, implementation and change.</p>
        <p><a href="/prototype-3/version-2-background">Find out about our background</a></p>

  </div>

  <div class="nhsuk-grid-column-one-third ">
<h4 class="nhsuk-body-xl">&ldquo;NHSX will combine some of the best minds from among the NHS, leading innovators, and government into one unit to set national policy, remove red tape and create a culture of innovation to allow the best innovations to flourish.&rdquo;</h4>
<p class="nhsuk-body-s">Matt Hancock, Health Secretary</p>
  </div>

</div>
</div>
</section>

<section style="background-color:#fff;">
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row  nhsuk-u-padding-top-6 ">
  <div class="nhsuk-grid-column-one-half">
        <h2>News articles</h2>
        </div>
</div>
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-6 nhsuk-u-margin-bottom-6">
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item" >
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.gov.uk/government/news/nhsx-new-joint-organisation-for-digital-data-and-technology" style="background-color:#f0f4f5;">
        <img class="nhsuk-promo__img" src="https://assets.publishing.service.gov.uk/media/5c6be488e5274a72b74654e8/computer-interface-with-doctor.jpg" alt="">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">NHSX: new joint organisation for digital, data and technology </h3>
          <p class="nhsuk-promo__description">News story about taking forward digital transformation in the NHS</p>

        </div>
      </a>
    </div>
  </div>
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item" >
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://healthtech.blog.gov.uk/2019/03/21/all-the-things-we-like-about-for-the-cdei-strategy/" style="background-color:#f0f4f5;">
        <img class="nhsuk-promo__img" src="https://healthtech.blog.gov.uk/wp-content/uploads/sites/224/2019/03/AI-blog-image-620x413.png" alt="">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">All the things we like about the CDEI’s new strategy</h3>
          <p class="nhsuk-promo__description">Blog about the Centre for Data Ethics and Innovation</p>

        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item" >
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.england.nhs.uk/blog/ethics-is-our-competitive-advantage-how-the-nhs-can-lead-the-world-in-ai-based-healthtech/" style="background-color:#f0f4f5;">
        <img class="nhsuk-promo__img" src="https://healthtech.blog.gov.uk/wp-content/uploads/sites/224/2018/12/01b-768x432.jpg" alt="">
        <div class="nhsuk-promo__content">
          
          <h3 class="nhsuk-promo__heading">Ethics is our competitive advantage</h3>
                  <p class="nhsuk-promo__description">Blog about how the NHS can lead the world in AI-based healthtech</p>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
</section>


<section >
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row nhsuk-u-padding-top-0 ">
<div class="nhsuk-grid-column-one-half nhsuk-promo-group__item" >
<h2>Video</h2>
</div>
</div>
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2">

  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item" >
    <div class="nhsuk-promo">
        <iframe width="100%" height="250px" src="https://www.youtube.com/embed/H3I1NS8cyBE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="nhsuk-promo__content" style="background-color:#ffffff;">
          <h3 class="nhsuk-promo__heading">What will patients get out of the NHS Long Term Plan?</h3>
          <p class="nhsuk-promo__description">The NHS has written a Long Term Plan so it can be fit for the future. </p>
        </div>
   
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item" >
    <div class="nhsuk-promo">
        <iframe width="100%" height="250px" src="https://www.youtube.com/embed/Q2vRDG-xVvw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="nhsuk-promo__content" style="background-color:#ffffff;">
          <h3 class="nhsuk-promo__heading">How will NHS.UK transform people’s experience of NHS services?</h3>
          <p class="nhsuk-promo__description">NHS England’s Chief Digital Officer, Juliet Bauer, explains how NHS.uk will be an enabling platform. </p>
        </div>
   
    </div>
  </div>
</div>
</div>
</section>



<section style="background-color:#fff;">
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-4">
  <div class="nhsuk-grid-column-one-half ">
        <h2>What we’re here to do </h2>
        <p>We’re here to improve patient care and outcomes by:</p>
        <ul>
            <li>simplifying the organisational complexity</li>
            <li>setting national policy and standards</li>
            <li>working with and empowering the best digital minds across the NHS</li> 
            <li>creating an ecosystem where the latest digital innovations are made widely available</li>
         </ul>   
                 <p><a href="/prototype-3/version-2-what-we-do">Find out about what we do</a></p>
  </div>
  <div class="nhsuk-grid-column-one-half ">
        <h2>How we work  </h2>
        <p>We are:</p>
        <ul>
            <li>user centred and patient focused</li> 
            <li>open, transparent and want to engage</li>
            <li>collaborative</li>
            <li>supporting a culture of innovation</li>
         </ul>   
         <p><a href="/prototype-3/version-2-how-we-work">Find out how we work</a></p>
  </div>

</div>
</div>
</section>

<section >
<div class="nhsuk-width-container nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-2">
<h2>Key information and tools</h2>
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2">
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.gov.uk/government/publications/the-future-of-healthcare-our-vision-for-digital-data-and-technology-in-health-and-care/the-future-of-healthcare-our-vision-for-digital-data-and-technology-in-health-and-care" >
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">The tech vision</h3>
          <p class="nhsuk-promo__description">The future of healthcare: our vision for digital, data and technology in health and care </p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.england.nhs.uk/digitaltechnology/" >
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Digital transformation </h3>
          <p class="nhsuk-promo__description">NHS England’s digital technology pages on empowering people, connected digital systems and more</p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="#" >
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">NHS developer network </h3>
          <p class="nhsuk-promo__description">NHS Digital’s network has technical information, software tools, source code and data for software developers</p>
        </div>
      </a>
    </div>
  </div>
</div>


<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2">
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.gov.uk/government/publications/the-future-of-healthcare-our-vision-for-digital-data-and-technology-in-health-and-care/the-future-of-healthcare-our-vision-for-digital-data-and-technology-in-health-and-care" >
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">NHS digital service manual </h3>
          <p class="nhsuk-promo__description">This manual helps NHS teams design and build consistent, usable services that put people first </p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.england.nhs.uk/digitaltechnology/" >
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Transforming digital health </h3>
          <p class="nhsuk-promo__description">NHS.UK presentations, updates, discussion forums and other resources from the Empower the Person programme</p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
 
  </div>
</div>

</div>
</section>


<section style="background-color:#fff;">
<div class="nhsuk-width-container nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-5 ">
<h2>Find out more  </h2>
<ul class="nhsuk-list-signage nhsuk-list-signage--two-columns" style="margin-top:24px;margin-bottom:24px;">
                      <li><a href="https://digitalhealth.blog.gov.uk/">Digital health and social care blog (GOV.UK)
                      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/static/nhsuk_base/img/icon-chevron-right-grey.svg" xlink:href="">
                        </image></svg></a></li>
                        <li><a href="https://digital.nhs.uk/blog/transformation-blog">Digital transformation blog (NHS Digital)<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                  <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
                </image></svg></a></li>
                <li><a href="https://healthtech.blog.gov.uk/">Technology in the NHS blog (GOV.UK)<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
          <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
        </image></svg></a></li>
                
            </ul>

</div>
</section>






<section >
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-0 nhsuk-u-margin-bottom-0">

  <div class="nhsuk-grid-column-two-thirds ">
        <h2 class="nhsuk-u-margin-bottom-0">Get involved</h2>
        <p class="nhsuk-body-l ">We want to hear from you </p>
        <p>If you work in tech in the NHS, tell us what your user needs are and how things need to change. We’re keen to hear from you - and from healthtech innovators - and to showcase and build on the work of people building great tools and services.</p>
        <ul>
            <li>Twitter: <a href="https://twitter.com/NHSX">follow us at @NHSX</a></li>
            <li>Email: <a href="">nhsx@nhs.net</a></li>
         </ul>   
  </div>

</div>
</div>
</section>






        <div class="nhsuk-width-container">


        <div class="nhsuk-grid-row">

        </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    </div>
  </div>
</section>
  </main>

  
  </div>
{% endblock %}
