<!-- 
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
          <main class="nhsuk-main-wrapper {{ mainClasses }} nhsuk-main-home nhsuk-u-margin-bottom-0" id="main-content" role="main">

                <section class="nhsuk-hero">
                <div class="nhsuk-width-container nhsuk-hero--border">
                    <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <div class="nhsuk-hero__wrapper">
                        <h1 class="nhsuk-u-margin-bottom-3">We’re about better health outcomes</h1>
                        <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Harnessing the potential of technology to transform care, save lives, free up clinicians’ time and empower patients.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </section>

<section style="background-color:#fff;">
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-6">
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item" >
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk" style="background-color:#f0f4f5;">
        <img class="nhsuk-promo__img" src="https://assets.publishing.service.gov.uk/media/5c6be488e5274a72b74654e8/computer-interface-with-doctor.jpg" alt="">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">NHSX: new joint organisation for digital, data and technology</h3>
          <p class="nhsuk-promo__description">Open access to information on how NHS services are performing.</p>

        </div>
      </a>
    </div>
  </div>
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item" >
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk" style="background-color:#f0f4f5;">
        <img class="nhsuk-promo__img" src="https://assets.publishing.service.gov.uk/media/5c6be488e5274a72b74654e8/computer-interface-with-doctor.jpg" alt="">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">NHSX: new joint organisation for digital, data and technology</h3>
          <p class="nhsuk-promo__description">Open access to information on how NHS services are performing.</p>

        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item" >
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk" style="background-color:#f0f4f5;">
        <img class="nhsuk-promo__img" src="https://assets.publishing.service.gov.uk/media/5c6be488e5274a72b74654e8/computer-interface-with-doctor.jpg" alt="">
        <div class="nhsuk-promo__content">
          
          <h3 class="nhsuk-promo__heading">NHSX: new joint organisation for digital, data and technology</h3>
                  <p class="nhsuk-promo__description">Open access to information on how NHS services are performing.</p>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
</section>





<section >
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-2">
  <div class="nhsuk-grid-column-two-thirds ">
        <h2>Mission and purpose</h2>
        <p>NHSX’s mission is to give patients and staff the technology they need, by:</p>
        <ul>
            <li>Simplifying the organisational complexity </li>
            <li>Setting national policy for NHS technology, digital and data</li>
            <li>Developing guidance and mandating technical standards</li>
            <li>Working with and empowering the best digital minds across the NHS</li>
            <li>Creating an ecosystem where healthtech entrepreneurs make the latest digital innovations widely available</li>
        </ul>    
         <p><a href="">A link to more information</a></p>

  </div>

</div>
</div>
</section>



<section style="background-color:#fff;">
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-4">
  <div class="nhsuk-grid-column-three-quarters ">
        <h2>Ethos and principles</h2>
        <p>NHSX is user centred, patient focused and driven by delivering better care and outcomes for patients.</p>
        <p>We believe:</p>
        <ul>
            <li>Credible, authoritative voice on digital transformation in health and care</li>
            <li>Open, transparent and engaged with the healthtech community</li>
            <li>Change the discourse from ‘the NHS can’t do tech’ to ‘NHS tech is getting better’</li>
            <li>Technology is worth the investment and we are serious about change: digital technology (digital first care) is key to a sustainable future NHS </li>
         </ul>   
         <p><a href="">A link to more information</a></p>
  </div>

</div>
</div>
</section>

<section >
<div class="nhsuk-width-container nhsuk-u-padding-top-2 ">
<h2>Key information and tools</h2>
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-6">
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk" >
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Join our community</h3>
          <p class="nhsuk-promo__description">You can access presentations, latest updates, discussion forums and other resources.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk" >
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Where are we working</h3>
          <p class="nhsuk-promo__description">At a glance Empower the Person programmes underway, plotted on a beta interactive map.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Compare NHS Services</h3>
          <p class="nhsuk-promo__description">Open access to information on how NHS services are performing.</p>
        </div>
      </a>
    </div>
  </div>
</div>

</div>
</section>


<section style="background-color:#fff;">
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-4 nhsuk-u-margin-bottom-0">
  <div class="nhsuk-grid-column-one-half ">
        <h2>Join our community</h2>
        <p>Access presentations, latest updates, discussion forums and other resources. Log in using your nhs.net email. If you don’t have one, contact <a href="">england.digitalhealth@nhs.net</a> for access.</p>

         <p><a href="">A link to more information</a></p>
  </div>

  <div class="nhsuk-grid-column-one-half ">
        <h2>Get in touch</h2>
        <p>The service manual is maintained by the standards team. Get in touch if you have any questions or feedback.</p>
        <ul>
            <li>Twitter: <a href="">Follow us @nhsx</a></li>
            <li>Email: <a href="">nhsx@nhs.net</a></li>
         </ul>   
  </div>

</div>
</div>
</section>






        <div class="nhsuk-width-container">


        <div class="nhsuk-grid-row">

        </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    </div>
  </div>
</section>
  </main>

  
  </div>
{% endblock %}
