<!-- 
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
          <main class="nhsuk-main-wrapper {{ mainClasses }} nhsuk-main-home nhsuk-u-margin-bottom-0" id="main-content" role="main">

                <section class="nhsuk-hero">
                <div class="nhsuk-width-container nhsuk-hero--border">
                    <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <div class="nhsuk-hero__wrapper">
                        <h1 class="nhsuk-u-margin-bottom-3">We’re about better health outcomes</h1>
                        <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Harnessing the potential of technology to transform care, save lives, free up clinicians’ time and empower patients.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </section>

<section style="background-color:#fff;">
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-6 nhsuk-u-margin-bottom-0">
  <div class="nhsuk-grid-column-two-thirds ">
        <h2>Mission and purpose</h2>
  </div>      
</div>
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-0 nhsuk-u-padding-bottom-6">
  <div class="nhsuk-grid-column-two-thirds ">
        <p>NHSX’s mission is to give patients and staff the technology they need, by:</p>
        <ul>
            <li>Simplifying the organisational complexity </li>
            <li>Setting national policy for NHS technology, digital and data</li>
            <li>Developing guidance and mandating technical standards</li>
            <li>Working with and empowering the best digital minds across the NHS</li>
            <li>Creating an ecosystem where healthtech entrepreneurs make the latest digital innovations widely available</li>
        </ul>    
         <p><a href="">A link to more information</a></p>

  </div>

  <div class="nhsuk-grid-column-one-third ">
<h4 class="nhsuk-body-xl">&ldquo;NHSX will combine some of the best minds from among the NHS, leading innovators, and government into one unit to set national policy, remove red tape and create a culture of innovation to allow the best innovations to flourish.&rdquo;</h4>
<p class="nhsuk-body-s">Matt Hancock, Health Secretary</p>
  </div>

</div>
</div>
</section>

<section >
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row  nhsuk-u-padding-top-2">
  <div class="nhsuk-grid-column-one-half">
        <h2>Latest news articles</h2>
        </div>
</div>
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-6">
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item" >
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk" >
        <img class="nhsuk-promo__img" src="https://assets.publishing.service.gov.uk/media/5c6be488e5274a72b74654e8/computer-interface-with-doctor.jpg" alt="">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">NHSX: new joint organisation for digital, data and technology</h3>
          <p class="nhsuk-promo__description">Open access to information on how NHS services are performing.</p>

        </div>
      </a>
    </div>
  </div>
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item" >
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk" >
        <img class="nhsuk-promo__img" src="https://healthtech.blog.gov.uk/wp-content/uploads/sites/224/2019/03/AI-blog-image-620x413.png" alt="">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">All the things we like</h3>
          <p class="nhsuk-promo__description">About the Centre for Data Ethics and Innovation’s new strategy.</p>

        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item" >
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk" >
        <img class="nhsuk-promo__img" src="https://healthtech.blog.gov.uk/wp-content/uploads/sites/224/2018/12/01b-768x432.jpg" alt="">
        <div class="nhsuk-promo__content">
          
          <h3 class="nhsuk-promo__heading">Ethics is our competitive advantage</h3>
                  <p class="nhsuk-promo__description">How the NHS can lead the world in AI-based healthtech.</p>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
</section>



<section style="background-color:#fff;">
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-4">
  <div class="nhsuk-grid-column-three-quarters ">
        <h2>Ethos and principles</h2>
        <p>NHSX is user centred, patient focused and driven by delivering better care and outcomes for patients.</p>
        <p>We believe:</p>
        <ul>
            <li>Credible, authoritative voice on digital transformation in health and care</li>
            <li>Open, transparent and engaged with the healthtech community</li>
            <li>Change the discourse from ‘the NHS can’t do tech’ to ‘NHS tech is getting better’</li>
            <li>Technology is worth the investment and we are serious about change: digital technology (digital first care) is key to a sustainable future NHS </li>
         </ul>   
         <p><a href="">A link to more information</a></p>
  </div>

</div>
</div>
</section>


<section >
<div class="nhsuk-width-container nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-6 ">
<h2>Find out more</h2>
<p>We regularly write about our work creating new, user-centred digital services.</p>
<ul class="nhsuk-list-signage nhsuk-list-signage--two-columns" style="margin-top:24px;margin-bottom:24px;">
                      <li><a href="https://beta.nhs.uk/find-a-pharmacy/">NHS Transformation blog
                      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/static/nhsuk_base/img/icon-chevron-right-grey.svg" xlink:href="">
                        </image></svg></a></li>
                        <li><a href="https://www.nhs.uk/Service-Search/Dentist/LocationSearch/3">NHS England transformation<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                  <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
                </image></svg></a></li>
                <li><a href="https://www.nhs.uk/Service-Search/Accident-and-emergency-services/LocationSearch/428">NHSX on twitter<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
          <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
        </image></svg></a></li>
                
            </ul>

</div>
</section>



<section style="background-color:#fff;">
<div class="nhsuk-width-container nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-2">
<h2>Key information and tools</h2>
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-6">
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk" style="background-color:#f0f4f5;">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Join our community</h3>
          <p class="nhsuk-promo__description">You can access presentations, latest updates, discussion forums and other resources.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk" style="background-color:#f0f4f5;">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Where are we working</h3>
          <p class="nhsuk-promo__description">At a glance Empower the Person programmes underway, plotted on a beta interactive map.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk" style="background-color:#f0f4f5;">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Compare NHS Services</h3>
          <p class="nhsuk-promo__description">Open access to information on how NHS services are performing.</p>
        </div>
      </a>
    </div>
  </div>
</div>

</div>
</section>


<section >
<div class="nhsuk-width-container">
<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-4 nhsuk-u-margin-bottom-0">
  <div class="nhsuk-grid-column-one-half ">
        <h2>Join our community</h2>
        <p>Access presentations, latest updates, discussion forums and other resources. Log in using your nhs.net email. If you don’t have one, contact <a href="">england.digitalhealth@nhs.net</a> for access.</p>

         <p><a href="">A link to more information</a></p>
  </div>

  <div class="nhsuk-grid-column-one-half ">
        <h2>Get in touch</h2>
        <p>The service manual is maintained by the standards team. Get in touch if you have any questions or feedback.</p>
        <ul>
            <li>Twitter: <a href="">Follow us @nhsx</a></li>
            <li>Email: <a href="">nhsx@nhs.net</a></li>
         </ul>   
  </div>

</div>
</div>
</section>






        <div class="nhsuk-width-container">


        <div class="nhsuk-grid-row">

        </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    </div>
  </div>
</section>
  </main>

  
  </div>
{% endblock %}
